<!-- chat.html -->
{% extends "base1.html" %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        href="{{ url_for('mainpage', username=session['username']) }}"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('budget', trip_id=trip._id) }}"
        >Budget</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('itinerary', trip_id=trip._id)}}"
        >Itinerary</a
      >
    </li>
  </ul>
</nav>

<div class="chat-container">
  <h1 class="text-center">Chat Room</h1>

  <div id="chat-container" class="chat-logs">
    <ul id="chat-logs" class="list-unstyled"></ul>
  </div>

  <form id="chat-form" class="chat-form">
    <textarea
      id="message"
      name="message"
      class="form-control"
      placeholder="Type your message"
      required
    ></textarea>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const chatContainer = document.getElementById("chat-container");
    const chatLogs = document.getElementById("chat-logs");

    const fetchMessages = () => {
      fetch("/chat/{{ trip._id }}/messages")
        .then((response) => response.json())
        .then((data) => {
          chatLogs.innerHTML = ""; // Clear existing messages
          data.forEach((log) => {
            const listItem = document.createElement("li");
            listItem.textContent = `${log.username}: ${
              log.message
            } at ${new Date(log.timestamp).toLocaleString()}`;
            chatLogs.appendChild(listItem);
          });
          chatContainer.scrollTop = chatContainer.scrollHeight; // Scroll to the bottom
        })
        .catch((error) => {
          console.error("Error fetching messages:", error);
        });
    };

    fetchMessages(); // Initial fetch
    setInterval(fetchMessages, 5000); // Fetch every 5 seconds

    document
      .getElementById("chat-form")
      .addEventListener("submit", function (e) {
        e.preventDefault();
        const message = document.getElementById("message").value;
        fetch("/chat/{{ trip._id }}/messages", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: `message=${message}`,
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message) {
              fetchMessages(); // Refresh messages after sending a new one
              document.getElementById("message").value = ""; // Clear input
            } else {
              alert("Error sending message");
            }
          })
          .catch((error) => {
            console.error("Error sending message:", error);
          });
      });
  });
</script>

{% endblock %}
