{% extends "base0.html"%} {% block content %} {% with messages =
get_flashed_messages(with_categories=True) %} {% if messages %}
<div class="flash-messages">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<h1>Sign up here</h1>
<form action="{{ url_for('auth.register') }}" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" required />
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <label for="email">Email</label>
  <input type="email" name="email" required />
  <button type="submit" class="btn btn-info">Sign up</button>
</form>
{% endblock %}
